.nav-item a {
    color: black;
    margin-right: 15px;
    text-decoration: none;
}
.nav-item:hover a{
    font-weight: bold;
    color: #1588c8 !important;
    border-bottom: 2px solid #1588c8;
}
.nav-item a.active {
    font-weight: bold;
    color: #1588c8 !important;
    border-bottom: 2px solid #1588c8;
}
.filterizer-font-size{
    font-size: 25px;
}
.footer_background_color{
    background-color: #171b2a;
}
.invert{
    filter: invert(1);
}
.text-wh ul li a{
color: white;
}
a{
    text-decoration: none;
}

@media (min-width: 1600px) {
    .ltn__slide-item-2 {
        max-height: 1500px;
    }
}


/* -------------- tasnim custom css -------------- */
.fixed_h_w {
    height: 500px;
    width: 400px;
}

.search-results-box {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: white;
    border: 1px solid #ddd;
    z-index: 1000;
    max-height: 300px;
    overflow-y: auto;
}
.search-result-item a {
    display: block;
    color: #333;
    text-decoration: none;
}
.search-result-item:hover {
    background-color: #f1f1f1;
}
.image_default_custom {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
}
